{% extends 'base.html' %}
{% block title %}Contact
{% endblock title %}
{% block contactactive %}
active
{% endblock contactactive %}

{% block body %}


     <div class="container my-4">
          <h2>Contact AP Rafiq</h2>
          <form action="{% url 'contact' %}" method="post">
          {% csrf_token %}
               <div class="form-group">
               <h5>Name :</h5>
               <input type="text" class='form-control' name="name" id="name"><br>
               <h5>Email :</h5>
               <input type="email" class='form-control' name="email" id="email"><br>
               <h5>Phone Number :</h5>
               <input type="number" class='form-control' name="phone" id="number"><br>
               <h5>Descrive :</h5>
               <textarea name="textarea" id="" class='form-control' cols="30" rows="5"></textarea>
               
               <input type="submit" class="form-control btn btn-info my-2">
               </div>
          </form>
     </div>










{% endblock body %}